body{
    margin: 0;
}

.acceuil {
    background-image: url(Rouge_portfoliov2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
h1{
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 120px;
  margin: 0;
  display: inline-block;
  position: absolute;
}
.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 1000px;

    }
    
    .div1 { grid-area: 2 / 2 / 6 / 6; 
        border: solid 1px;
        background-image: url(bath.JPEG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
    .div2 { grid-area: 7 / 2 / 11 / 4;
        border: solid 1px;
        background-image: url(car.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
    .div3 { grid-area: 8 / 5 / 11 / 10;
        border: solid 1px;
        background-image: url(plage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
     }
    .div4 { grid-area: 2 / 7 / 7 / 10;
        border: solid 1px;
        background-image: url(lac.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
nav{
    position: sticky;
    top: 35%;
    right: 1%;
    overflow: hidden;
    width: 20px;
    height: 120px;
    background-color: #4a21242b;
    background-size: cover;
    float: right;
    border-radius: 15px 15px 15px 15px;
    padding: 1%;
}
ul{
    display: flex;
    list-style: none;
    padding: 1%;
    margin: 0%;
    flex-direction: column;
}
li{
    text-align: center;
    font-size: 25px;
    color: black;
}

footer{
    display: flex;
    background-color: #73030D;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.bas{
width: 100%; 
display: flex;
justify-content: space-evenly;
flex-direction: row;
}

.partun{
    display: flex;
}
.partdeux{
    display: flex;
}
img{
    height: 400px;
    width: 400px;
    margin: 1%;
    border:solid #000000 1px;
    border-radius: 3%;
    
}
h2{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 120px;
    margin: 2%;
    text-align: center;
}
#aboutmeH2 {
    width: 80vw;
    margin-left: 30px;
    text-align: start;
}
h3{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #f8eaebbb;
    font-size: 80px;
    border-radius: 20px;
}
h4{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 50px;
}
.intro{
    display: flex;
    background-color: #c063633e;
    border-radius: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
}
#contacth3 {
    display: flex;
    transform: rotateZ(-90deg);
    FONT-SIZE: 68px;
    position: absolute;
    top: 1483px;
    left: 60px;
}
.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contacth2{
    display: flex;
    transform: rotateZ(90deg);
    position: absolute;
    top: 1011px;
    right: -50px;
}

.para{
    margin: 27px;
    text-align: center;
}

.parties{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.imgmargin{
    margin-right: 5%;
    margin-left: 2%;
}